<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://besafedude.digix.com.br:80/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://WEB07:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>besafedude.digix.com.br</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>DGTBR\webdeploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EntityFrameworkContext" Order="1" Enabled="True">
          <Destination Path="Data Source=192.168.0.4;Initial Catalog=besafedude;Persist Security Info=True;User ID=domus;Password=d0mu5!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Api.Models.EntityFrameworkContext.EntityFrameworkContext, Api" MigrationConfiguration="Api.Migrations.Configuration, Api" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EntityFrameworkContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>Data Source=192.168.0.4;Initial Catalog=besafedude;Persist Security Info=True;User ID=domus;Password=d0mu5!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>