@using Api.Models.Utilitarios
@model IList<Api.Models.Dominio.Relato>

<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div class="row">
    <div class="col-md-6">
        <div id="graficoPorTipo" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    </div>
    <div class="col-md-6">
        <div id="graficoPorPeriodo" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        Últimos acontecimentos
        <form id="formUltimosAcontecimentos" method="post" action="/Relato/Index">
            <select id="selectDias" name="dias" style="float: right; margin-top: -27px;" class="form-control">
                <option value="10">10 dias atrás</option>
                <option value="30">30 dias atrás</option>
                <option value="60">60 dias atrás</option>
                <option value="90">90 dias atrás</option>
            </select>
        </form>
    </div>
    <div id="ultimosAcontecimentos" class="panel-body">
        @Html.Partial("_UltimosAcontecimentos", Model)
    </div>
</div>
<script src="~/Content/javascript/index.js"></script>