@using Api.Models.Utilitarios
@model IList<Api.Models.Dominio.Relato>

<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
<div class="panel panel-primary">
    <div class="panel-heading">Últimos acontecimentos</div>
    <div class="panel-body">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th class="text-center">Tipo de relato</th>
                <th>Periodo</th>
                <th>Descrição</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr class="@item.TipoDeRelato">
                    <td class="text-center">@item.TipoDeRelato</td>
                    <td class="dataFormatada">@item.Data.ToString("yyyyMMdd")</td>
                    <td class="col-md-8">@item.Descricao</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {
        moment.locale('pt-br');
        console.log(moment.locale());
        var $data = $('.dataFormatada');
        $data.each(i => {
            var data = moment($data[i].innerText, "YYYYMMDD").fromNow();
            $data[i].innerText = data;
        });
    });
</script>