
@{
    ViewBag.Title = "Time";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>#Time6</h1>

<ul style="font-size: 24px;">
    <li>Alexandre Basilio</li>
    <li>Fernando Cézar</li>
    <li>Gabriel Wirtti</li>
    <li>Helder Rolin</li>
    <li>João Sutel</li>
    <li>Rafael Teixeira</li>
    <li>Renan Moreira</li>
    <li>Larisse Rodrigues</li>
    <li>Isabela Rodrigues</li>
</ul>
